---
import { CollectionEntry } from "astro:content";
import { Icon } from "astro-icon";
import Avatar from "~/components/Avatar.astro";

type Props = {
	author: CollectionEntry<"authors">;
};

const { author } = Astro.props;
const { slug, data } = author;
const { name, title, company, companyLogo } = data;
---

<div class="row" aria-hidden="true">
	<Avatar name={slug} />

	<div class="meta">
		<div class="name">{name}</div>
		<div class="role">{title}</div>
		<div class="companyInfo">
			<Icon name={companyLogo} size={16}/>
			<span class="company">{company}</span>
		</div>
	</div>
</div>

<style>
	@import "~/styles/media.css";

	div.row {
		display: flex;
		gap: var(--size-2);
		align-items: flex-end;
        color: var(--always-white);
		@media (--md-n-above) {
			gap: var(--size-3);
		}
	}
	div.meta {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 4px;
        color: var(--always-white);
		@media (--md-n-above) {
			display: block;
		}
	}
	div.name {
		font-size: 1.125rem;
		margin-block: 0;
		line-height: normal;
        color: var(--always-white);
		@media (--md-n-above) {
			margin-block: 20px 6px;
		}
	}
	div.role {
		font-size: 0.875rem;
		line-height: normal;
		max-width: 200px;
        color: var(--always-white);
	}
	div.companyInfo {
		display: flex;
		gap: 8px;
		margin-block-start: 4px;
		line-height: normal;
        color: var(--always-white);
	}
	span.company {
		line-height: normal;
		font-size: 0.75rem;
        color: var(--always-white);
	}
</style>
