---
import { CollectionEntry } from "astro:content";
import HomeAvatar from "~/components/HomeAvatar.astro";
import { format } from "date-fns";

type Props = {
	author: CollectionEntry<"authors">;
	publishDate?: Date | undefined;
	theme?: "light" | "dark" | undefined;
	hero?: boolean;
};

const { author, publishDate, theme, hero = false } = Astro.props;
const { slug, data } = author;
const { name, title } = data;
let textColor;
switch (theme) {
	case "dark":
		textColor = "var(--always-white)";
		break;
	case "light":
		textColor = "var(--always-black)";
		break;
	default:
		textColor = "var(--black)";
		break;
}
---

<div class="row" aria-hidden="true">
	<HomeAvatar name={slug} hero={hero} />

	<div class="meta">
		<div class="name">{name}</div>
		<div class="role">{title}</div>
		{
			publishDate && (
				<time datetime={publishDate.toISOString()}>
					{format(publishDate, "MMMM d, yyyy")}
				</time>
			)
		}
	</div>
</div>

<style define:vars={{ textColor }}>
	@import "~/styles/media.css";

	div.row {
		--_color: var(--textColor);
		color: var(--_color);
		display: grid;
		grid-auto-flow: column;
		column-gap: var(--size-4);
		width: fit-content;
	}
	div.meta {
		margin: 0;
		padding: 0;
	}
	div.name {
		font-size: 1.125rem;
		font-family: var(--font-display);
	}
	div.role {
		font-size: 0.875rem;
	}
	time {
		
		font-size: 0.875rem;
	}
</style>
